*{
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
}

.flexContainer{
  display: flex;
  align-items: center;
background: #f1f1f1;
width: 27em;

justify-content: center;
flex-direction: column;
}

legend{
  font-size: 40px;
  
}

.firstlabe{
  display: flex;
  width: 23.1em;
  height: 3em;
  justify-content: space-between;
}

.flexSecondlabe{
  display: flex;
  width: 23.1em;
  height: 6em;
  margin-top: 1em;
  
 flex-direction: column; 
}

.flexRegister{
  display: flex;
 margin-top: 1.5em;
 height: 2.5em;
 width: 15.3em;
 justify-content: center;
 font-size: 1.5em;
 background-color: #317c4a;
 padding: 3%;
 border: 0;
}

input{
  margin-top: 1em;
  padding-top: 1em;
}

label{

margin-top: 4em;
}